:root {
    --card-bg: #fff;
    --body-bg: #f0f0f0;
    --btn-bg: #ccc;
    --btn-hover: #999;
    --input-border-hover: #666;
    --checkbox-color: #000;
    --primary-color: rgb(164, 164, 164);
    --primary-hover: rgb(94, 94, 94);
    --alert-bg: white;
    --alert-button-bg: var(var(--primary-color));
    --badge-color: rgb(164, 164, 164);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(176, 176, 176);
}
.container {
    width: 100%;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.card {
    width: 100%;
    height: 300px;
    max-width: 450px;
    background-color: rgb(225, 225, 225);
    border-radius: 30px;
    margin: 30px auto;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}
.taskContainer{
    margin-top: 10px;
    overflow-y: auto;
    flex-grow: 1;
}
.taskContainer::-webkit-scrollbar {
    width: 8px;
}

.taskContainer::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}
.row {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.addBtn {
    height: 40px;
    font-weight: bold;
    border: none;
    padding: 8px 19px;
    background-color: rgb(156, 156, 156);
    cursor: pointer;
    border-radius: 10px;
}
.addBtn:hover {
    color: #fff;
    background-color: rgb(55, 55, 55);
    transition: 0.3s;
}
.inputBox {
    flex-grow: 1;
    width: 100px;
    height: 40px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s ease;
    padding: 0 10px;
}
.inputBox:hover {
    outline: none;
    border-color: rgb(0, 0, 0);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}
.task-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 25px;
}
.task-item label{
    flex: 1;
    min-width: 0;
    word-break: break-word;
}
.task-item input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    min-width: 25px;
    border: 3px solid var(--checkbox-color);
    border-radius: 10px;
    position: relative;
    background-color: #fff;
    transition: background-color 0.2s ease;
}
.task-item input[type="checkbox"]:checked {
    background-color: var(--checkbox-color);
    border-color: var(--checkbox-color);
}
.task-item input[type="checkbox"]:active {
    transform: scale(0.9);
}
.task-item input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    font-size: 23px;
    position: absolute;
    top: -18%;
    left: 10%;
}
.colorPalette {
    display: flex;
    align-items: end;
    justify-content: right;
    padding: 15px 30px;
    gap: 10px;
}
.purple {
    cursor: pointer;
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: 0.3s;
}
.purple:hover {
    transform: translateY(-7px);
}
.yellow {
    cursor: pointer;
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: 0.3s;
}
.yellow:hover {
    transform: translateY(-7px);
}
.customAlert {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

.alertBox {
    background: var(--alert-bg);
    padding: 20px 30px;
    border-radius: 12px;
    text-align: center;
    min-width: 250px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.alertBox p {
    margin-bottom: 15px;
}

.alertBox button {
    background: var(--primary-color);
    font-weight: bold;
    padding: 6px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.alertBox button:hover{
    background: var(--primary-hover);
    color: #f0f0f0;
}
.customConfirm{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: center; 
}
.confirmBtn{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.confirmBtn button{
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 6px;
    cursor: pointer;
}
#taskCounter {
    margin: 10px auto 0;
    text-align: center;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 20px;
    background-color: var(--badge-color);
    color: white;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
}


.editBtn,
.deleteBtn {
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease;
}
.editBtn i,
.deleteBtn i {
    font-size: 22px;
}
.editBtn {
    color: var(--primary-color);
}
.editBtn:hover {
    background: var(--primary-color);
    color: white;
}
.deleteBtn {
    color: #dc3545;
}

.deleteBtn:hover {
    background: #dc3545;
    color: white;
}